<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>YelpCamp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a href="/" class="navbar-brand">YelpCamp</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
						<a class="nav-link" href="/campgrounds">
							Home <% if (typeof page !== 'undefined' && page === 'campgrounds') { %> 
								<span class="sr-only">(Current)</span>
								<% } %>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<% if (!currentUser) { %>
						<li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : ''%>">
							<a class="nav-link" href="/login">
								Login <% if (typeof page !== 'undefined' && page === 'login') { %> 
								<span class="sr-only">(Current)</span>
								<% } %>
							</a>
						</li>
						<li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : ''%>">
							<a class="nav-link" href="/register">
								Register <% if (typeof page !== 'undefined' && page === 'register') { %> 
								<span class="sr-only">(Current)</span>
								<% } %>
							</a>
						</li>
					<% } else { %>
						<li class="nav-item"><a class="nav-link" href="/users/<%= currentUser._id %>">Signed In As <%= currentUser.username %></a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
					<%}%>
					<li class="nav-item">
						<a class="nav-link" id="search-toggle" href="#">Search</a>
					</li>
					<li class="nav-item">
						<form id="search-form" class="form-group" action="/campgrounds" method="GET">
							<input type="text" class="form-control" name="search" placeholder="search campgrounds...">
						</form>
					</li>
				</ul>
			</div>
		</nav>

	<div class="container mt-4 mb-5">

		<% if (error && error.length > 0) {%>
			<div class="alert alert-danger" role="alert"><%= error %></div>
		<% } %>

		<% if (success && success.length > 0) {%>
			<div class="alert alert-success" role="alert"><%= success %></div>
		<% } %>



<!-- <form id="search-form" action="/campgrounds" class="form-inline" method="GET">
								<div class="form-group">
									<input class="btn btn-primary" type="submit" value="Search">
									<form action="/campgrounds" class="form-group" method="GET">
										<input class="btn btn-primary" type="submit" value="Clear Results">
									</form>
									<input class="form-control" type="text" name="search" placeholder="search campgrounds...">
								</div>
							</form> -->