<%include ../partials/header%>

	<div class="row">
		<div class="col-md-3">
			<p class="lead">YelpCamp</p>
			<div class="list-group">
			    <a class="list-group-item list-group-item-action active" id="list-image-list" data-toggle="list" href="#list-image" role="tab" aria-controls="home">
			      Image
			  	</a>
      			<a class="list-group-item list-group-item-action" id="list-map-list" data-toggle="list" href="#list-map" role="tab" aria-controls="profile">Map</a>

			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="tab-content" id="nav-tabContent">
      				<div class="tab-pane fade show active" id="list-image" role="tabpanel" aria-labelledby="list-home-list">
						<img class="card-img-top" src="<%=campground.image%>" alt="">
      				</div>
      				<div class="tab-pane fade" id="list-map" role="tabpanel" aria-labelledby="list-profile-list">
						<div id="map"></div>
      				</div>
				</div>
				<div class="card-header campground-card-header">
					<a href="#"><%=campground.name%></a>
					<p>$<%= campground.price %>/night</p>
				</div>
				<div class="card-body">
					<p><%=campground.description%></p>
					<p><em>Submitted By <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em></p>

					<% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) {%>
						<a href="/campgrounds/<%= campground._id%>/edit" class = "btn btn-warning">Edit</a>
						<form id="delete_form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
							<button class="btn btn-danger">Delete</button>
						</form>
					<% } %>
					<div class="text-right">
						<a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add New Comment</a>
					</div>
				</div>
			</div>
			<hr />
			<%campground.comments.forEach(function(comment) {%>
				<div class="card mb-4">
					<div class="card-header">
						<strong><%=comment.author.username%></strong>, <%= moment(comment.createdAt).fromNow() %>, said:
					</div>
					<div class="card-body">
						<p><%=comment.text%></p>
					<% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) {%>
						<a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" class="float-md-right btn btn-xs btn-warning">
							Edit Comment
						</a>
						<form class="float-md-right display-inline" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
							<button type="submit" class="btn btn-xs btn-danger">Delete</button>
						</form>
					<% } %>
					</div>											
				</div>
			<%})%>
		</div>
	</div>

	<script>

		function initMap() {

			let lat = <%= campground.lat %>;
			let lng = <%= campground.lng %>; 
			let center = {lat: lat, lng: lng };
			const map = new google.maps.Map(document.getElementById('map'), {
				zoom: 8,
				center: center,
				scrollwheel: true
			});
			let contentString = `
			<strong><%= campground.name %><br />
			<%= campground.location %></strong>
			<p><%= campground.description %></p>
			`

			let infowindow = new google.maps.InfoWindow({
				content: contentString
			});
			let marker = new google.maps.Marker({
				position: center,
				map: map
			});
			marker.addListener('click', () => {
				infowindow.open(map, marker);
			});
		}
<<<<<<< HEAD
=======
	</script>
	<script async defer src= "https://maps.googleapis.com/maps/api/js?key=YOURAPIKEYHERE&callback=initMap"></script>
>>>>>>> master

		fetch(`https://maps.googleapis.com/maps/api/js?key=AIzaSyCxuytC1Hom6vRYLCHggI7qm-xZM72pt3c`)
		.then(data => initMap(data))
		.catch(err => console.error(err));

	</script>

<%include ../partials/footer%>
